/* Général */
/* Fond d'écran et police générale du site */
body {
  background-color: #f0f7eb;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
/* Style des liens */
a {
  color: #275323;
  text-decoration: none;
}

a:hover {
  color: #275323;
}

/* Header */
/* Conteneur du logo et du titre du site */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Style du logo */
.logo {
height: 200px; /* hauteur du logo */
margin-right: 300px; /* marge à droite du logo */
}


/* Style du titre du site */
h1 {
font-size: 300%; /* taille de police du titre */
}


header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.site-title {
  color: #275323;
  font-size: 1.6em;
  text-align: center;
}

/* Navigation */
nav {
  background-color: #c5e0b4;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  font-size: 160%; /* taille de police navigation */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #275323;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #c4dfe6;
}

/* Sections */
section {
  background-color: #ffffff;
  padding: 20px;
}

.section-title {
  color: #275323;
  font-size: 1.3em;
  margin-bottom: 20px;
  text-align: center;
}

.section-description {
  margin-bottom: 20px;
  text-align: justify;
}

.section-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.menu {
  text-align: left;
}

.menu ul {
  display: inline-block;
}